body {
    text-align: center;
}

form {
    border: 10px solid orangered;
}

.inputs {
    margin: 5px;
    padding: 3px;
    box-shadow: 5px;
}

.opretion {
    margin: 5px;
    padding: 3px;
    box-shadow: 5px;
}

.clear {
    margin: 5px;
    padding: 3px;
    box-shadow: 5px;
}

#t3 {
    margin: 5px;
    padding: 3px;
}